:root {
	--alert-300:#fda4af;
	--alert-800:#9f1239;
	--success-300: #6ee7b7;
	--success-800: #065f46;
	--accent-300: #fcd34d;
	--accent-800: #92400e;
	--primary-300: #93c5fd;
	--primary-800: #1e40af;
	--bg-light: #cbd5e1;
	--bg-dark: #1e293b;
	--text-light: #e5e7eb;
	--text-dark: #374151;
	--transition: all 0.2s ease-in-out;
	--border-radius: 0.35rem;
	--font-s: clamp(0.7rem, 1vw + 0.5rem, 1rem);
	--font-l: clamp(1.5rem, 1.5vw + 0.5rem, 2.125rem);
	--spacing-s: 0.5rem;
	--spacing-m: 1rem;
	--spacing-l: 1.5rem;
	--spacing-xl: 2rem;
}

@font-face {
	font-family: Montserrat;
	src: url(./assets/font/Montserrat-VariableFont_wght.ttf) format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button, select, input {
	outline: none;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
}

button, select, input[type="checkbox"] {
	cursor: pointer;
}

body {
	min-height: 100dvh;
	font-family: Montserrat, sans-serif;
	background: linear-gradient(to top, #f1f5f9, #cbd5e1);
}

/* HEADER */
.header {
	background-color: var(--bg-dark);
	box-shadow: 0 2px 8px #00000055;
	color: var(--text-light);
	padding: var(--spacing-s) var(--spacing-xl);
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: var(--spacing-m);
}

.brand {
	mask: url(./assets/icons/logo.svg);
	background-color: var(--text-light);
	width: 48px;
	height: 48px;
}

.logo h1 {
	font-size: var(--font-l);
	position: relative;
}

#subscription {
	position: absolute;
	font-size: var(--font-s);
	background-color: var(--accent-300);
	border: 1px solid var(--accent-800);
	border-radius: var(--border-radius);
	padding: 0.125rem 0.375rem;
	color: var(--text-dark);
	top: 0px;
	right: -50px;
}

.control-bar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: var(--spacing-m);
}

.btn {
	background-color: var(--primary-800);
	border: 1px solid var(--primary-300);
	border-radius: var(--border-radius);
	padding: var(--spacing-s) var(--spacing-m);
	transition: var(--transition);
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: var(--spacing-s);
}

.btn .add-icon,
.btn .remove-icon,
.btn .filter-icon {
	width: 20px;
	height: 20px;
	background-color: var(--text-light);
	transition: var(--transition);
}

.btn:hover {
	background-color: var(--primary-300);
	color: var(--text-dark);
}

.btn:hover .add-icon,
.btn:hover .remove-icon,
.btn:hover .filter-icon {
	transform: scale(1.30);
	background-color: var(--text-dark);
}

.add-icon {
	mask: url(./assets/icons/add-new.svg);
}

.remove-icon {
	mask: url(./assets/icons/delete.svg);
}

.filter-icon {
	mask: url(./assets/icons/filter.svg);
}

/* FILTER */
.filter-bar {
	margin: var(--spacing-xl);
	padding: var(--spacing-m) var(--spacing-l);
	background-color: var(--bg-dark);
	color: var(--text-light);
	border-radius: var(--border-radius);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter-bar.hidden {
	display: none;
}

.filters {
	display: flex;
	gap: var(--spacing-m);
}

.filter label {
	font-weight: 600;
	margin-right: var(--spacing-s);
}

.stats {
	display: flex;
	gap: var(--spacing-xl);
}

.stats p {
	background-color: var(--alert-800);
	padding: var(--spacing-s);
	border-radius: var(--border-radius);
	color: var(--text-light);
	cursor: default;
	font-weight: 600;
}

/* MAIN CONTAINER */
.game-library {
	padding: var(--spacing-xl);
	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
	gap: var(--spacing-xl);
}

.card,
.modal-box {
	background-color: var(--bg-dark);
	padding: var(--spacing-m) var(--spacing-l);
	color: var(--text-light);
	border-radius: var(--border-radius);
	box-shadow: 2px 2px 8px #00000050;
	display: grid;
	gap: var(--spacing-m);
	grid-template-rows: auto;
}

.card-title,
.modal-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #999;
	padding-bottom: var(--spacing-s);
}

.card-title h3 {
	display: flex;
	align-items: center;
	gap: var(--spacing-m);
}

.card-title h3 span {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: var(--bg-light);
}

.card-title h3 span.pc {
	mask: url(./assets/icons/pc.svg);
}

.card-title h3 span.ps {
	mask: url(./assets/icons/playstation.svg);
}

.card-title h3 span.xbox {
	mask: url(./assets/icons/xbox.svg);
}

.card-title h3 span.nintendo {
	mask: url(./assets/icons/nintendo.svg);
}

.card-title .close,
.modal-title .close {
	mask: url(./assets/icons/close.svg);
	height: 24px;
	width: 24px;
	background-color: var(--text-light);
	cursor: pointer;
	transition: var(--transition);
}

.card-title .close:hover,
.modal-title .close:hover {
	transform: rotate(180deg);
	background-color: var(--alert-800);
}

.card-body {
	display: grid;
	grid-template-rows: repeat(3, auto);
	gap: var(--spacing-m);
}

.card-body > p {
	display: flex;
	justify-content: space-between;
}

.checkbox-container {
	display: flex;
	justify-content: space-between;
}

.checkbox-container label,
.modal-input.checkbox label {
	flex: 1;
	cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
	appearance: none;
	height: 22px;
	width: 40px;
	background-color: var(--alert-300);
	border-radius: 20px;
	position: relative;
		transition: var(--transition);
}

.checkbox-container input[type="checkbox"]::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	height: 16px;
	width: 16px;
	border-radius: 20px;
	background: var(--alert-800);
	transition: var(--transition);
}

.checkbox-container input[type="checkbox"]:checked {
	background-color: var(--success-300);
}

.checkbox-container input[type="checkbox"]:checked::before {
	left: 21px;
	background-color: var(--success-800);
}

/* DIALOG MODAL */
.modal-container[open] {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	width: 100%;
	height: 100%;
}

.modal-container[open]::backdrop {
	background-color: #00000060;
}

.modal-box {
	width: 300px;
}

.modal-form {
	display: grid;
	gap: var(--spacing-l);
}

.modal-input:not(.checkbox) {
	display: grid;
	gap: 0.2rem;
}

.modal-input:not(.checkbox) input,
.modal-input select,
.filter select {
	padding: var(--spacing-s);
	background-color: var(--bg-light);
	border-radius: var(--border-radius);
	color: var(--text-dark);
}

.modal-input.checkbox {
	display: flex;
}

.modal-input input[type="checkbox"] {
	height: 20px;
	width: 20px;
}

.modal-input input.validate:invalid,
.modal-input select.validate:invalid {
	border:1px solid var(--alert-800);
	background-color: var(--alert-300);
}

.modal-input:not(.checkbox) input:focus-within,
.modal-input select:focus-within {
	border: 1px solid var(--accent-300);
	box-shadow: 0 0 5px 1px var(--accent-300);
}

.modal-input input[type="checkbox"]:checked {
	accent-color: var(--success-300);
}

.modal-form .btn {
	padding: var(--spacing-s);
	justify-content: center;
}

.error-text {
	display: none;
	font-size: 0.85rem;
	color: var(--accent-300);
}

.modal-input input.validate:invalid + span,
.modal-input select.validate:invalid + span {
	display: inline-block;
	text-wrap: balance;
}