:root {
	--alert-300:#fda4af;
	--alert-800:#9f1239;
	--success-300: #6ee7b7;
	--success-800: #065f46;
	--accent-300: #fcd34d;
	--accent-800: #92400e;
	--primary-300: #93c5fd;
	--primary-800: #1e40af;
	--bg-dark: #cbd5e1;
	--bg-light: #1e293b;
	--text-light: #e5e7eb;
	--text-dark: #374151;
	--transition: all 0.2s ease-in-out;
	--border-radius: 0.5rem;
	--font-s: clamp(0.7rem, 1vw + 0.5rem, 1rem);
	--font-m: clamp(1rem, 1.2vw + 0.5rem, 1.5rem);
	--font-l: clamp(1.5rem, 2vw + 0.5rem, 2.5rem);
	--spacing-s: 0.5rem;
	--spacing-m: 1rem;
	--spacing-l: 1.5rem;
	--spacing-xl: 2rem;
}

@font-face {
	font-family: Montserrat;
	src: url(./assets/font/Montserrat-VariableFont_wght.ttf) format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button, select, input {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	font: inherit;
	color: inherit;
}

body {
	height: 100dvh;
	font-family: Montserrat, sans-serif;
	background: linear-gradient(to top, #f1f5f9, #cbd5e1);
}